TELEOP_DATA_ROOT=/home/descfly/franka_teleop_data
TELEOP_ROS_DOMAIN_ID=0
FRANKA_CPUSET=16-23
FRANKA_TELEOP_CPUSET=16-23
HOUSEKEEPING_CPUSET=0-15
FRANKA_ROBOT_CONFIG=/workspace/franka_upper_body_teleop/config/workcell/current.yaml
